In [ ]:
using CSV

In [15]:
a = open("p022_names.txt") do f
    CSV.readsplitline(f)
end;

In [18]:
sort!(a)

5163-element Array{String,1}:
 "AARON"
 "ABBEY"
 "ABBIE"
 "ABBY"
 "ABDUL"
 "ABE"
 "ABEL"
 "ABIGAIL"
 "ABRAHAM"
 "ABRAM"
 "ADA"
 "ADAH"
 "ADALBERTO"
 â‹®
 "ZITA"
 "ZOE"
 "ZOFIA"
 "ZOILA"
 "ZOLA"
 "ZONA"
 "ZONIA"
 "ZORA"
 "ZORAIDA"
 "ZULA"
 "ZULEMA"
 "ZULMA"

In [19]:
function get_score(x)

LoadError: syntax: incomplete: premature end of input

In [20]:
x = "AARON"

"AARON"

In [62]:
y = collect(x)

5-element Array{Char,1}:
 'A'
 'A'
 'R'
 'O'
 'N'

In [63]:
function replace_letter(x)
    return (Int(x)-64)
end

WARNING: Method definition replace_letter(Any) in module Main at In[57]:2 overwritten at In[63]:2.

replace_letter (generic function with 1 method)

In [65]:
sum(map(replace_letter, y))

49

In [68]:
total = 0
for i in 1:length(a)
    y = collect(a[i])
    total += i * sum(map(replace_letter, y))
end

In [69]:
print(total)

871198282